.genie-container {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 400px;
  margin-left: -200px;
  background-color: white;
  padding: 20px;
}

.genie-container > input {
  width: 344px;
  line-height: 60px;
  padding: 0px 25px 0px 25px;
  font-size: 40px;
}

.genie-options {
  width: 344px;
  margin-top: -2px;
  font-size: 35px;
  padding: 0px 25px 0px 25px;
}

.genie-option.focused {
  background-color: red;
}